[Desktop Entry]
Type=Application
Name=Linura Qualification Visible
Exec=/usr/local/lib/linura-qualification/linger-app visible
NoDisplay=false
Terminal=false
